h1{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 45%;
    color:rgba(255, 255, 255, 0.829);
}
.new-btn{
    transition: all 0.3s ease;
    margin: 5px;
    text-decoration: none;
}
.new-btn:hover{
    transform: translateY(-0.5rem);
}

.recipes{
    display: flex;
    flex-direction: column;
    align-items: center;
}